@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.luxury-font {
  font-family: 'Playfair Display', serif;
}
.perspective {
  perspective: 1000px;
}

.blur-xxs {
  backdrop-filter: blur(3px);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.gold-btn {
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #d4af37, #f7d774, #d4af37);
  box-shadow: 0 0 20px oklch(88.677% 0.18212 95.338 / 0.6);
}

.gold-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
  transform: skewX(-20deg);
  animation: shine 2.5s infinite;
}


@keyframes shine {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

.nav-gold-line {
  background: linear-gradient(135deg, #d4af37, #f7d774, #d4af37);
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
}

.logo-shine {
  position: relative;
  overflow: hidden;
}

.logo-shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  animation: shine 2.5s infinite;
}

@keyframes shine {
  0% {
    left: -150%;
  }
  50% {
    left: 150%;
  }
  100% {
    left: 150%;
  }
}


.btn-gold {
  background: linear-gradient(135deg, #d4af37, #f7d774, #d4af37);
  position: relative;
  overflow: hidden;
  color: black;
  font-weight: 500;
  padding: 0.75rem 0;
  transition: box-shadow 0.3s;
}

.btn-gold:hover{
  inset: 0;
  box-shadow: 0 0 50px rgba(255, 215, 0, 0.6);
}



.animate-shine {
  animation: shine 2.5s linear infinite;
}

.rotate-y-90 {
  transform: perspective(2000px) rotateY(-90deg);
}

.rotate-y-0 {
  transform: perspective(2000px) rotateY(0deg);
}

@keyframes shineword {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.animate-shine-word {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shineword 3s linear infinite;
}
